.task-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 200px;
  margin: 50px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}
.delete {
  height: 30px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: red;
}
.edit {
  height: 30px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
}
.control {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.input {
  border: 2px solid black;
}